<div class="container page-content text-center" style="padding:6rem 0">
  <h1>{{ shop.name }}</h1>
  <p>{{ 'general.password_page.opening_soon' | t }}</p>
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    <input type="email" name="contact[email]" placeholder="{{ 'general.password_page.email' | t }}" required>
    <button type="submit" class="btn btn-primary">{{ 'general.password_page.submit' | t }}</button>
  {% endform %}
</div>
